<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body class="dark-mode">
    {% extends "layout.html" %}
    {% block content %}
    <div class="form-container">
        <h1>Registro</h1>
        <form method="POST">
            <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input type="text" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" name="password" required>
            </div>
            <button class="btn" type="submit">Crear Cuenta</button>
            <br>
            <br>
            <br>
            <br>
            <p>¿Ya tienes una cuenta? <a href="{{ url_for('login') }}" class="btn">Iniciar Sesión</a></p>
        </form>
    </div>
    {% endblock %}
</body>
</html>